<!DOCTYPE html>
<html lang="en">
  <title> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  <body>

<div class="cf">

      {% for key, value in terms.items() %}
      <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
            <dd class="f3 fw6 ml0">{{ key }}</dd>
                {% for v in value %}
                  <dd class="f6 fw4 ml0">{{v}}</dd>
                {% endfor %}

      </dl>
      {% endfor %}

</div>
  </body>
</html>