<div class="row px-2 py-2">
  <form class="form-inline float-xs-right">
    <div id="download-form" class="form-group">
      <button id="download-button" class="btn btn-primary btn-sm float-xs-right ml-2">Download</button>
      <div class="float-xs-right">
        <label class="form-check-inline">Download to folder: </label>
        <input type="text" name="download-dir" class="form-control form-control-sm">
        <div id="download-error-text" class="form-check-inline form-control-feedback"></div>
      </div>
    </div>
  </form>
</div>
