<div class="col-xs-3 col-sm-2">
  {% if facets.StudyDescription %}
  <ul class="list-group small">
    <a href="#" class="list-group-item active">
      Study Descriptions
    </a>
    {% for facet in facets.StudyDescription.buckets %}
    <li class="list-group-item">
      <a href="{{ facet['url'] }}">
        <span class="tag tag-default tag-pill float-xs-right">{{facet.count}}</span>
         {% if facet.clear %}
          <i class="fa fa-times" aria-hidden="true"></i>
        {% endif %}
        {{facet.val}}
      </a>
    </li>
  {% endfor %}
  <br>
  </ul>
  {% endif %}


  {% if facets.SeriesDescription %}
  <ul class="list-group small">
    <a href="#" class="list-group-item active">
      Series Descriptions
    </a>
    {% for facet in facets.SeriesDescription.buckets %}
    <li class="list-group-item">
      <a href="{{ facet['url'] }}">
        <span class="tag tag-default tag-pill float-xs-right">{{facet.count}}</span>
        {% if facet.clear %}
          <i class="fa fa-times" aria-hidden="true"></i>
        {% endif %}
        {{facet.val}}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>