<div class="col-xs-9 col-sm-10">
  Results found: {{ results }}
  <ul class="list-group result">
    {% for doc in docs['groups'] %}
      <li class="list-group-item">
        <a href="#" data-toggle="collapse" data-target="#{{ doc['groupValue'] }}">
          <span class="oi oi-chevron-right small"></span>
          PatientID: {{ doc['groupValue'] }} 
          <span class="tag tag-info tag-pill">{{ doc['by_AccessionNumber'] | length }}</span>
        </a>
      </li>
      <ul class="list-group small collapse" id="{{ doc['groupValue'] }}">
        {% for accessionNumber in doc['by_AccessionNumber'] %}
          <li class="list-group-item">Accession Number: {{ accessionNumber }}
            {% include 'table.html' %}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </ul>
