<div class="col">
  <div class="border-bottom py-3">
    <input type="checkbox" name="select-all-page"> Select all
    <span class="float-sm-right">Patients found: {{ results }}</span>
  </div>
  <ul class="list-group result">
    {% for doc in docs['groups'] %}
      <li class="list-group-item patients pr-0">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="select-all-patient" data-patient-id="{{ doc['groupValue'] }}">
          <a data-toggle="collapse" data-target="#{{ doc['groupValue'] }}" href="#">
              <span class="oi oi-chevron-left small float-sm-right"></span>
            <span class="float-right pr-5">Studies <span class="badge badge-primary badge-pill"> {{ doc['by_AccessionNumber'] | length }}</span></span>
            {{ doc['patient']['name'] }}, {{ doc['patient']['birthdate'] }}, {{ doc['groupValue'] }}
          </a>
        </div>
      </li>
      <div class="pl-3 collapse" id="{{ doc['groupValue'] }}">
        <ul class="list-group small" >
          {% for accessionNumber in doc['by_AccessionNumber'] %}
            <li class="list-group-item" >
              {% include 'table.html' %}
            </li>
          {% endfor %}
        </ul>
    </div>
    {% endfor %}
  </ul>
</div>