<div class="col-xs-9 col-sm-10">
  Patients found: <em>{{ results }}</em>
  <ul class="list-group result">
    {% for doc in docs['groups'] %}
      <li class="list-group-item patients">
        <input type="checkbox" name="select-all-patient" data-patient-id="{{ doc['groupValue'] }}">
        <a href="#" data-toggle="collapse" data-target="#{{ doc['groupValue'] }}">
          <span class="oi oi-chevron-left small float-xs-right"></span>
          {{ doc['patient']['name'] }}, {{ doc['patient']['birthdate'] }}, {{ doc['groupValue'] }}, Studies
          <span class="tag tag-default tag-pill">{{ doc['by_AccessionNumber'] | length }}</span>
        </a>
      </li>
      <ul class="list-group small collapse" id="{{ doc['groupValue'] }}">
        {% for accessionNumber in doc['by_AccessionNumber'] %}
          <li class="list-group-item">Accession Number: {{ accessionNumber }}
            {% include 'table.html' %}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </ul>
</div>