{% extends "base.html" %}

{% block search %}
<form id="search-form" action="/search">
  <div class="form-group row">
    <label for="search-input" class="col-sm-2 col-form-label">Search for</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" placeholder="E.g. CT Schaedel" id="search-input" name="q" value="{{searchterm}}" autofocus>
    </div>
  </div>
  <div class="form-group row">
    <label for="start-date-picker" class="offset-sm-2 col-sm-2 col-form-label">Start Date</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="start-date-picker" name="StartDate" value="{{startdate}}">
    </div>
    <label for="end-date-picker" class="col-sm-2 col-form-label">End Date</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="end-date-picker" name="EndDate" value="{{enddate}}">
    </div>
    <div class="col-sm-2 text-xs-right">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
  <div class="alert alert-danger small {% if not error %} hidden-xs-up" {% endif %}role="alert">
      <strong>Error:</strong>{{error}}
    </div>
</form>
{% endblock %}