{% extends "page.html" %}

{% block content %}
  <div class="container-fluid px-2 pt-2">
    <h6>Settings</h6>
    <form id="core-form" action="/settings" method="post">
      <div class="form-group row">
        <label for="core-input" class="col-sm-2 col-form-label">Core name</label>
        <div class="col-sm-4">
        <div class="input-group">
          <input class="form-control" type="text" id="core-input" name="core_name" value="{{ core_name }}" autofocus>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Set</button>
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}