<div class="card my-3 small rounded-0 bg-light">
  <div class="card-body p-3">
    <h5 class="card-title h6">
      <input type="checkbox" name='select-all-accession-number' data-patient-id="{{ doc['groupValue'] }}" data-accession-number="{{ study['AccessionNumber'] }}">
      <a href="#{{ study['AccessionNumber'] }}" data-toggle="collapse" class="exam-details">
            <span class="small oi oi-collapse-down float-right " title="Collapse"></span>
            {{study['StudyDescription']}}, {{study['Modality']}}, {{study['AccessionNumber'] }}
    </a></h5>
    <h6 class="card-subtitle" style="font-size:0.8rem">{{ study['StudyDate'] | to_date}}, {{study['ReferringPhysicianName']}}, {{study['InstitutionName']}}</h6>
    <div class="container p-0 pt-2 collapse" id="{{study['AccessionNumber']}}">
      <div class="row">
        <div class="col">
          <p>
            <u>
              <strong>Series</strong>
            </u>
          </p>
          <table class="table table-sm" data-patient-id="{{ doc['groupValue'] }}" data-accession-number="{{ study['AccessionNumber'] }}">
            <thead>
              <tr>
                <th>

                </th>
                <th>Series Number</th>
                <th>Series Description</th>
              </tr>
            </thead>
            <tbody>
              {% for series in study['_childDocuments_'] %}
                {% set d = series.update({'series_int': series.get('SeriesNumber') | int }) %}
              {% endfor %}
              {% for child in study['_childDocuments_'] | sort(attribute='series_int') %}
              <tr>
                <td>
                  <input type="checkbox" name="series" data-patient-id="{{ doc['groupValue'] }}" data-study-id="{{ study['StudyInstanceUID'].strip(' \t\r\0') }}"
                    data-series-id="{{ child['SeriesInstanceUID'].strip(' \t\r\0') }}" data-accession-number="{{ study['AccessionNumber'] }}"
                    data-series-number="{{ child['SeriesNumber'] }}">
                </td>
                <td>{{ child['SeriesNumber'] }} </td>
                <td>{{ child['SeriesDescription'] }} </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col">
          <p class="mb-0">
            <u>
              <strong>RIS Report</strong>
            </u>
          </p>
          <div id="{{ study['AccessionNumber'] }}-report" style="white-space:pre-wrap">
            {{study['RisReport']}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

