<table class="table table-sm" data-patient-id="{{ doc['groupValue'] }}">
  <thead>
    <tr>
      <th><input type="checkbox" name='select-all-accession-number'></th>
      <th>Patient Name</th>
      <th>Modality</th>
      <th>Study Description</th>
      <th>Date</th>
      <th>Series Description</th>
      <th>Series Number</th>
      <th>Referring Physician</th>
      <th>Institution Name</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in doc['by_AccessionNumber'][accessionNumber] %}
    <tr>
      <td><input type="checkbox" name="series"
                 data-study-id="{{ entry['StudyInstanceUID'] }}"
                 data-series-id="{{ entry['SeriesInstanceUID'] }}"
                 data-accession-number="{{ entry['AccessionNumber'] }}"
                 data-series-number="{{ entry['SeriesNumber'] }}">
      </td>
      <td>{{ entry['PatientName'] }} </td>
      <td>{{ entry['Modality'] }} </td>
      <td>{{ entry['StudyDescription'] }} </td>
      <td>{{ entry['StudyDate'] }} </td>
      <td>{{ entry['SeriesDescription'] }} </td>
      <td>{{ entry['SeriesNumber'] }} </td>
      <td>{{ entry['ReferringPhysicianName'] }} </td>
      <td>{{ entry['InstitutionName'] }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>