{% for entry in doc['by_AccessionNumber'][accessionNumber] %}
<p>StudyDate:
  <strong>{{ entry['StudyDate'] | to_date}}</strong>, AccessionNumber:
  <strong>{{entry['AccessionNumber'] }}</strong>, Modality:
  <strong>{{entry['Modality']}}</strong>, StudyDescription:
  <strong>{{entry['StudyDescription']}}</strong>, Referring Physician:
  <strong>{{entry['ReferringPhysicianName']}}</strong>, Institution:
  <strong>{{entry['InstitutionName']}}</strong>
</p>
<div class="container p-0" id="{{entry['AccessionNumber']}}">
  <div class="row">
    <div class="col">
        <p><u><strong>Series</strong></u></p>
        <table class="table table-sm" data-patient-id="{{ doc['groupValue'] }}">
            <thead>
              <tr>
                <th><input type="checkbox" name='select-all-accession-number'></th>
                <th>Series Number</th>
                <th>Series Description</th>
              </tr>
            </thead>
            <tbody>
                {% for child in entry['_childDocuments_'] %}
              <tr>
                <td>
                  <input type="checkbox" name="series"
                           data-patient-id="{{ doc['groupValue'] }}"
                           data-study-id="{{ entry['StudyInstanceUID'].strip(' \t\r\0') }}"
                           data-series-id="{{ child['SeriesInstanceUID'].strip(' \t\r\0') }}"
                           data-accession-number="{{ child['AccessionNumber'] }}"
                           data-series-number="{{ child['SeriesNumber'] }}">
                </td>
                <td>{{ child['SeriesNumber'] }} </td>
                <td>{{ child['SeriesDescription'] }} </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    <div class="col">
      <p><u><strong>RIS Report</strong></u></p>
      <div style="white-space:pre-line">
        {{entry['RisReport']}}
      </div>
    </div>
  </div>
  </div>

<div>



</div>

{% endfor %}