<!DOCTYPE html>
<html lang="en">
<title>Tasks status</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tachyons.min.css') }}">

<body class="w-100" data-page="download-status">
  {% include 'partials/header.html' %}
  <div id="container" class="bt b--black-10">
</body>
<script type=text/javascript src="{{url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
<script type=text/javascript>
  $(function() {
    $.get('/tasks/data',
      function(data) {
        $('#container').html(data);
    });
  });
</script>
</html>