<!DOCTYPE html>
<html lang="en">
<title>Tasks status</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tachyons.min.css') }}">

<body>
  <div class="dt center pa3">
    <h1 class="f2 pa2 tl">Tasks</h1>
    <table class="table">
      <thead>
        <tr>
          <th class="pa1 bb b--navy bw1 tl">Accession Number</th>
          <th class="pa1 bb b--navy bw1 tl">Series Number</th>
          <th class="pa1 bb b--navy bw1 tl">Status</th>
          <th class="pa1 bb b--navy bw1 tl mw8-ns">Exception</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          <td class="pa1 v-top">{{ task['accession_number'] }} </td>
          <td class="pa1 v-top">{{ task['series_number'] }} </td>
          <td class="pa1 v-top">{{ task['status'] }} </td>
          <td class="pa1 mw8-ns v-top">{{ task['exception'] }} </td>
        </tr>
         {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
