<div class="row px-2">
  <form class="form-inline float-xs-right">
    <div class="form-group">
      <div class="form">
        <button id="transfer-button" class="btn btn-primary btn-sm float-xs-right ml-2">Transfer</button>
        <div class="float-xs-right">
          <label class="form-check-inline">
            <input class="form-check-input" type="radio" name="target" id="syngoid" value="syngo" checked > Syngo
          </label>
          <label class="form-check-inline">
            <input class="form-check-input" type="radio" name="target" id="teamplayid" value="teamplay"> Teamplay
          </label>
          <label class="form-check-inline">
            <input class="form-check-input" type="radio" name="target" id="teamplayshareid" value="teamplayshare"> Teamplay-Share
          </label>
        </div>
        <label class="form-check-inline">Choose transfer target:</label>
      </div>
    </div>
  </form>
</div>