[dcmtk]
dcmin = '/dcm.in'
movescu = '/usr/bin/movescu'

[MoveTask]
aet = ''
aec = ''
aem = ''
peer_address = ''
peer_port =
incoming_port =

[DownloadTask]
aet = ''
aec = ''
peer_address = ''
peer_port =
incoming_port =
output_dir = '/tmp/123'

[core]
scheduler_host = localhost
default-scheduler-port = 8082