

<div class="row">
  <div id="table-view">
    <div class="col-xs-9 col-sm-10">
		  <div class="border-bottom py-1">
		    <input type="checkbox" name="select-all-page"> Select all
		    <span class="float-xs-right">Patients found: MEOW</span>
		  </div>
		  <ul class="list-group result">
	
		      <li class="list-group-item patients">
		        <input type="checkbox" name="select-all-patient" data-patient-id="1">
		        <a href="#" data-toggle="collapse" data-target="1">
		          <span class="oi oi-chevron-left small float-xs-right"></span>
		          MEOW
		          <span class="tag tag-default tag-pill">MEOW</span>
		        </a>
		      </li>
		      <ul class="list-group small collapse" id="1">
		       
		          <li class="list-group-item" style="padding-left:1.25rem">
		            <div class="accession_number" data-accession-number="" style="padding-bottom:5px">
		              Accession Number: MEOW
		              <a href="" target="_blank" style="padding-left:20px">
		                Show RIS Report
		              </a>
		              </div>
		           
		          </li>
		  
		      </ul>
		    
		  </ul>
		</div>
    
  </div>
</div>

{% include 'partials/transfer-options.html' %}
{% include 'partials/download-options.html' %}