<div id="accordion-closest" role="tablist" aria-multiselectable="true" class="patient-list">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
        <a data-toggle="collapse" data-parent="#accordion-closest" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Patient 1
        </a>
    </div>
    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
       <div class="form-check">
		  <label class="form-check-label">
		    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
		    Keiner der Vorschläge
		  </label>
		</div>
       <div class="form-check">
		  <label class="form-check-label">
		    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
		    Vorschlag 1
		  </label>
		</div>
		<div class="form-check">
		  <label class="form-check-label">
		    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
		    Vorschlag 2
		  </label>
		</div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
        <a data-toggle="collapse" data-parent="#accordion-closest" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Patient 1
        </a>
    </div>
    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
       <div class="form-check">
		  <label class="form-check-label">
		    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
		    Keiner der Vorschläge
		  </label>
		</div>
       <div class="form-check">
		  <label class="form-check-label">
		    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
		    Vorschlag 1
		  </label>
		</div>
		<div class="form-check">
		  <label class="form-check-label">
		    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
		    Vorschlag 2
		  </label>
		</div>
      </div>
    </div>
  </div>
</div>