<div class="row">
	<div class="col-sm-4 col-md-3 col-xs-12">
		<div class="card">
			<div class="card-header has-danger">
				<select class="form-control input-sm">
					<option value="Keines">Keines</option>
					<option value="Name">Name</option>
					<option value="Vorname">Vorname</option>
					<option value="Patienten">Patienten-Id</option>
					<option value="Geburtsdatum">Geburtsdatum</option>
				</select>
			</div>
			<div class="card-block">
				<h6 class="card-title"><u>Name</u></h6>
			    <p class="card-text">Datensätze</p>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-md-3 col-xs-12">
		<div class="card">
			<div class="card-header has-danger">
				<select class="form-control input-sm">
					<option value="Keines">Keines</option>
					<option value="Name">Name</option>
					<option value="Vorname">Vorname</option>
					<option value="Patienten">Patienten-Id</option>
					<option value="Geburtsdatum">Geburtsdatum</option>
				</select>
			</div>
			<div class="card-block">
				<h6 class="card-title"><u>Name</u></h6>
			    <p class="card-text">Datensätze</p>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-md-3 col-xs-12">
		<div class="card">
			<div class="card-header has-danger">
				<select class="form-control input-sm">
					<option value="Keines">Keines</option>
					<option value="Name">Name</option>
					<option value="Vorname">Vorname</option>
					<option value="Patienten">Patienten-Id</option>
					<option value="Geburtsdatum">Geburtsdatum</option>
				</select>
			</div>
			<div class="card-block">
				<h6 class="card-title"><u>Name</u></h6>
			    <p class="card-text">Datensätze</p>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-md-3 col-xs-12">
		<div class="card">
			<div class="card-header has-danger">
				<select class="form-control input-sm">
					<option value="Keines">Keines</option>
					<option value="Name">Name</option>
					<option value="Vorname">Vorname</option>
					<option value="Patienten">Patienten-Id</option>
					<option value="Geburtsdatum">Geburtsdatum</option>
				</select>
			</div>
			<div class="card-block">
				<h6 class="card-title"><u>Name</u></h6>
			    <p class="card-text">Datensätze</p>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-md-3 col-xs-12">
		<div class="card">
			<div class="card-header has-danger">
				<select class="form-control input-sm">
					<option value="Keines">Keines</option>
					<option value="Name">Name</option>
					<option value="Vorname">Vorname</option>
					<option value="Patienten">Patienten-Id</option>
					<option value="Geburtsdatum">Geburtsdatum</option>
				</select>
			</div>
			<div class="card-block">
				<h6 class="card-title"><u>Name</u></h6>
			    <p class="card-text">Datensätze</p>
			</div>
		</div>
	</div>
</div>