<div class="row">
	<div class="col-xs-12">
     	<form class="invalid">
	        <fieldset id="droparea">
	            <p><strong>Datei hierherziehen</strong></p>
	            <p>oder</p>
	            <p><span class="btn btn-primary">Datei auswählen</span></p>
	        </fieldset>
	        <p><label for="firstRowIsHeader"><input type="checkbox" id="firstRowIsHeader" checked="checked" /> erste Zeile als Spaltenbezeichnung verwenden</label></p>
        	
	        <input type="button" id="btnReset" value="Reset" />
	        <div id="filePreview"></div>    
	    </form>
	</div>
</div>