<div class="patient-list">
	<div class="card">
		<div class="card-header">
			<label>
				<input type="checkbox" name="select-all-patient" data-patient-id="1">
				<span>Patient 1</span>
			</label>
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			<label>
				<input type="checkbox" name="select-all-patient" data-patient-id="2">
				<span>Patient 2</span>
			</label>
		</div>
	</div>
</div>

{% include 'partials/transfer-options.html' %}
{% include 'partials/download-options.html' %}