<div class="row">
	<div class="col-xs-12">
     	<form class="invalid">
	        <fieldset id="droparea">
	            <p><strong>Datei hierherziehen</strong></p>
	            <p>oder</p>
	            <p><span class="btn btn-primary">Datei auswählen</span></p>
	        </fieldset>
	        <p class="firstRowIsHeader">
	        	<label for="firstRowIsHeader">
	        		<input type="checkbox" id="firstRowIsHeader" checked="checked" /> 
	        		<span>erste Zeile als Spaltenbezeichnung verwenden</span>
	        	</label>
	        </p>
	        <div id="filePreview"></div>    
	    </form>
	</div>
</div>