<div class="d-flex flex-row-reverse pt-2">
  <form id="download-form" class="form-inline float-right">
    <label for="download-dir" class="form-label mr-2">Download to folder:</label>
    <input id="download-dir" type="text" name="download-dir" class="form-control form-control-sm mr-2">
    <div id="download-error-text" class="invalid-feedback"></div>
    <button id="download-button" class="btn btn-info btn-sm">Download Images</button>
    <button id="download-all-button" class="btn btn-info btn-sm ml-2">Download All images</button>
    <button id="download-ris-reports" class="btn btn-info btn-sm ml-2">Download selected Reports</button>
    <button id="export" class="btn btn-info btn-sm ml-2">Export all to Excel</button>
  </form>
</div>