<div id="help-details" class="offset-xs-2 collapse">
  <p>The general search allows you to search across all indexed fields. </p>
  <p>To search in a specific field use <em>fieldname:value</em>. The following fields are available:</p>
  <ul>
    <li>StudyDescription</li>
    <li>SeriesDescription</li>
    <li>PatientName</li>
    <li>PatientID</li>
    <li>AccessionNumber</li>
  </ul>
  <p>You can combine multiple search parameters with the boolean operators <em>AND</em> and <em>OR</em>. Those needs to be capitalized.
  </p>
  <p>An example could be <a href='search?query=*&StudyDescription=%22CT+Schaedel%22&SeriesDescription=%22Sch%C3%A4del+axial+Weichteil%22'>
    StudyDescription:"CT Schaedel" AND SeriesDescription:"Schädel axial Weichteil"
    </a>
  </p>
</div>