<div class="pa3 ph5-ns dt db dt-ns w-100">
  <div class="fl w-30">
    <h2 class="f3 tl">Waiting Tasks</h2>
    <table class="table f6">
      <thead>
        <tr>
          <th class="pl0 pa1 bb b--navy bw1 tl">Accession Number</th>
          <th class="pa1 bb b--navy bw1 tl">Series Number</th>
          <th class="pa1 bb b--navy bw1 tl">Creation time</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks[0] %}
        <tr>
          <td class="pl0 pa1 v-top">{{ task['accession_number'] }} </td>
          <td class="pa1 v-top">{{ task['series_number'] }} </td>
          <td class="pa1 v-top">{{ task['creation_time'] }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="fl w-70">
    <div class="fr f6 pr5 mr5 mt4">
      Reloads in <span id="timer">10</span>s
    </div>
    <h2 class="f3 tl">Done Tasks</h2>
    <table class="table f6">
      <thead>
        <tr>
          <th class="pl0 pa1 bb b--navy bw1 tl">Accession Number</th>
          <th class="pa1 bb b--navy bw1 tl">Series Number</th>
          <th class="pa1 bb b--navy bw1 tl">Creation time</th>
          <th class="pa1 bb b--navy bw1 tl">Status</th>
          <th class="pa1 bb b--navy bw1 tl ">Exception</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks[1] %}
        <tr>
          <td class="pl0 pa1 v-top">{{ task['accession_number'] }} </td>
          <td class="pa1 v-top">{{ task['series_number'] }} </td>
          <td class="pa1 v-top">{{ task['creation_time'] }} </td>
          <td class="pa1 v-top">{{ task['status'] }} </td>
          <td class="pa1  v-top">{{ task['exception'] }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>