<div class="pa3 ph5-ns dt db dt-ns w-100">
  <div class="w-40 fl db">
    <h2 class="f3 tl">Waiting Downloads <a class="pl3 f6 link dim br1 ph1 pv1 mb0 dib white bg-black v-mid" href="#0" id="resend">Resend</a><span class="f3 fr">{{tasks[0]|length}}</span></h2>
    <table class="w-100 table f6">
      <thead>
        <tr>
          <th class="pl0 pa1 bb b--navy bw1 tl"><input type="checkbox" class="form-check-input" name="select-all-resend"></th>
          <th class="pl0 pa1 bb b--navy bw1 tl">PatientID</th>
          <th class="pa1 bb b--navy bw1 tl">Accession No.</th>
          <th class="pa1 bb b--navy bw1 tl">Series No.</th>
          <th class="pa1 bb b--navy bw1 tl">Download folder</th>
          <th class="pa1 bb b--navy bw1 tr">Creation time</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks[0] %}
        <tr>
          <td class="pl0 pa1 v-top">
            <input type="checkbox" name="series" data-dir="{{ task['dir_name'] }}" data-patient-id="{{ task['patient_id'] }}"
            data-series-id="{{ task['series_instance_uid'] }}" data-accession-number="{{ task['accession_number'] }}" data-study-id="{{ task['study_id'] }}"
            data-series-number="{{ task['series_number'] }}">
          </td>
          <td class="pl0 pa1 v-top">{{ task['patient_id'] }} </td>
          <td class="pa1 v-top tl">{{ task['accession_number'] }}</td>
          <td class="pa1 v-top tl">{{ task['series_number'] }}</td>
          <td class="pa1 v-top">{{ task['dir_name'] }}</td>
          <td class="pa1 v-top tr">{{ task['creation_time'] }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="pl4 w-60 fl db">
    <h2 class="f3 tl">Done Downloads <span class="f3 fr">{{tasks[1]|length}}</span></h2>
    <table class="w-100 table f6">
      <thead>
        <tr>
          <th class="pl0 pa1 bb b--navy bw1 tl">PatientID</th>
          <th class="pa1 bb b--navy bw1 tl">Accession No.</th>
          <th class="pa1 bb b--navy bw1 tl">Series No.</th>
          <th class="pa1 bb b--navy bw1 tl">Download folder</th>
          <th class="pa1 bb b--navy bw1 tr">Running time</th>
          <th class="pa1 bb b--navy bw1 tl">Status</th>
          <th class="pa1 bb b--navy bw1 tl">Exception</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks[1] %}
        <tr>
          <td class="pl0 pa1 v-top">{{ task['patient_id'] }} </td>
          <td class="pa1 v-top tl">{{ task['accession_number'] }}</td>
          <td class="pa1 v-top tl">{{ task['series_number'] }}</td>
          <td class="pa1 v-top">{{ task['dir_name'] }}</td>
          <td class="pa1 v-top tr">{{ task['running_time'] }} </td>
          <td class="pa1 v-top">{{ task['status'] }} </td>
          <td class="pa1  v-top">{{ task['exception'] }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>