<div class="d-flex flex-row-reverse">
  <form class="form-inline float-right">
    <div class="form-check form-check-inline">
      <label class="form-check-label pr-2">Choose transfer target: </label>
      <input class="form-check-input" type="radio" name="syngoid" id="syngoid" value="syngo">
      <label class="form-check-label" for="inlineRadio1">syngoid.via</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="teamplayid" value="teamplay">
      <label class="form-check-label" for="teamplayid">Teamplay</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="teamplayshareid" value="teamplayshare">
      <label class="form-check-label" for="teamplayshareid">Teamplay-Share</label>
    </div>

    <button id="transfer-button" class="btn btn-info btn-sm ml-5">Transfer</button>
  </form>
</div>