<div class="container mt-3">
  <form class="form-inline float-right mb-3">
    <div class="form-group">
      <label class="form-check-inline">Choose transfer target:
        <input class="form-check-input ml-3" type="radio" name="target" id="syngoid" value="syngo" checked > Syngo.via
        <input class="form-check-input ml-5" type="radio" name="target" id="teamplayid" value="teamplay"> Teamplay
        <input class="form-check-input ml-5" type="radio" name="target" id="teamplayshareid" value="teamplayshare"> Teamplay-Share
        <button id="transfer-button" class="btn btn-primary btn-sm ml-5">Transfer</button>
        <a class="ml-3" href="/transfers"> Show Progress</a>
      </label>
    </div>
  </form>
</div>