<!-- Uplod Modal -->
<div class="modal multi-step" id="fileupload" tabindex="-1" role="dialog" aria-labelledby="fileupload" reset-on-close="true" data-backdrop="static">
	<div class="modal-dialog modal-lg" role="document">
		<button type="button" class="btn btn-default close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title step-1" data-step="1">
					<h1>Hochladen</h1>
					<p>Achten Sie darauf, dass nur .xlsx oder .csv Dateien akzeptiert werden. Die maximale Grösse beträgt 20MB. Falls Probleme auftauchen, schliessen Sie dieses Fenster und versuchen Sie es erneut.</p>
					<div class="interaction-info clearfix">
						<h5 class="float-md-left">Laden Sie jetzt die gewünschte Datei hoch</h5>
						<a href="#reset" data-reset="" class="float-xs-right"><small>Zurücksetzen</small></a>
					</div>
				</div>
				<div class="modal-title step-2" data-step="2">
					<h1>Strukturerkennung</h1>
					<p>Jede Box stellt eine Spalte ihrer Datei dar. Weisen Sie alle für die Suche notwendigen Kategorien mithilfe der Dropdown-Liste den Spalten zu. Die bereits zugewiesenenen Kategorien haben wir automatisch erkannt, diese können korrigiert werden.</p>
					<div class="interaction-info clearfix">
						<h5 class="float-md-left">Definieren Sie die Struktur der hochgeladenen Datei, um die Suche zu starten.</h5>
						<a href="#reset" data-reset="" class="float-xs-right"><small>Zurücksetzen</small></a>
					</div>
				</div>
				<div class="modal-title step-3" data-step="3">
					<h1>Nicht gefundene Patienten</h1>
					<p>Die folgenden Patienten konnten nicht eindeutig identifiziert werden. Korrigieren Sie ihr File und laden Sie dieses erneut hoch oder überspringen Sie diesen Schritt.</p>
					<div class="interaction-info clearfix">
						<h5 class="float-md-left">Die folgenden Patienten konnten nicht gefunden werden.</h5>
						<a href="#reset" data-reset="" class="float-xs-right" onclick="goToStep(1)"><small>Datei neu hochladen</small></a>
					</div>
				</div>
				<div class="modal-title step-4" data-step="4">
					<h1>Ähnlich gefundene Patienten</h1>
					<p>Die folgenden Patienten konnten nicht eindeutig identifiziert werden. Sie sehen stattdessen eine Liste von Patienten, die ähnliche Parameter enthalten. Wählen Sie die zutreffende Person aus. Wenn Sie nichts auswählen, geht der Eintrag verloren.</p>
					<div class="interaction-info clearfix">
						<h5 class="float-md-left">Korrigieren Sie nun die nicht eindeutig identifizierten Patienten.</h5>
						<a href="#reset" data-reset="" class="float-xs-right"><small>Zurücksetzen</small></a>
					</div>
				</div>
				<div class="modal-title step-5" data-step="5">
					<h1>Weiterverarbeiten</h1>
					<p>Sie können nun die Patienten auswählen, welche Sie transferieren oder herunterladen möchten.</p>
					<div class="interaction-info clearfix">
						<h5 class="float-md-left">Entscheiden Sie, wie Sie das Ergebnis weiterverarbeiten wollen.</h5>
						<a href="#reset" data-reset="" class="float-xs-right"><small>Zurücksetzen</small></a>
					</div>
				</div>
			</div>

			<!-- a new step -->
			<div class="modal-body step step-1 step-upload">
				<p class="text-action text-danger font-weight-bold"></p>
				{% include 'partials/upload/step-1.html' %}
			</div>

			<!-- a new step -->
			<div class="modal-body step step-2 step-structure">
				<p class="text-action text-warning font-weight-bold"></p>
				{% include 'partials/upload/step-2.html' %}
			</div>

			<!-- a new step -->
			<div class="modal-body step step-3 step-notfound">
				<p class="text-action text-warning font-weight-bold"></p>
				{% include 'partials/upload/step-3.html' %}
			</div>

			<!-- a new step -->
			<div class="modal-body step step-4 step-closest">
				<p class="text-action text-warning font-weight-bold"></p>
				{% include 'partials/upload/step-4.html' %}
			</div>

			<!-- a new step -->
			<div class="modal-body step step-5 step-transfer">
				<p class="text-action text-warning font-weight-bold"></p>
				{% include 'partials/upload/step-5.html' %}
			</div>

			<div class="modal-footer">
				<div class="m-prev">
					<button type="button" class="btn btn-primary step-1" data-step="1" disabled>Zurück</button>
					<button type="button" class="btn btn-primary step-2" data-step="2" onclick="goToStep(1)">Zurück</button>
					<button type="button" class="btn btn-primary step-3" data-step="3" onclick="goToStep(2)">Zurück</button>
					<button type="button" class="btn btn-primary step-4" data-step="4" onclick="goToStep(3)">Zurück</button>
					<button type="button" class="btn btn-primary step-5" data-step="5" onclick="goToStep(4)">Zurück</button>
				</div>

				 <div class="m-progress">
					<div class="m-progress-steps-wrapper"></div>
				</div>
			 
			 	<div class="m-next">
					<button type="button" id="btnParse" class="btn btn-primary step step-1" data-step="1"><span>Weiter</span><div class="loader">Loading...</div></button>
					<button type="button" id="btnSearch" class="btn btn-primary step step-2" data-step="2"><span>Weiter</span><div class="loader">Loading...</div></button>
					<button type="button" class="btn btn-primary step step-3" data-step="3"><span>Weiter</span><div class="loader">Loading...</div></button>
					<button type="button" class="btn btn-primary step step-4" data-step="4"><span>Weiter</span><div class="loader">Loading...</div></button>
					<button type="button" class="btn btn-primary step step-5" data-step="5" data-dismiss="modal" aria-label="Close">Schliessen</button>
				</div>
			</div>
		</div>
	</div>
</div>