ul.result li {
    border-bottom: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    padding-left: 0;
}

.vertical-align {
    display: table-cell;
    vertical-align: middle;
}

.border-bottom {
    border-bottom: 2px solid #ddd;
}