ul.result li {
    border-bottom: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    padding-left: 0;
}

.border-bottom {
    border-bottom: 2px solid #ddd;
}

/* no ugly blue border around links on click */
a:focus {
    outline:0;
    text-decoration: none;
}