/*!
 * Upload
 * IP-517bb PACS Project by Yannick Hasler & Jessica Odermatt
 */

/* upload template */
#fileupload button.close {
	position: absolute;
	right: -25px;
	top: -25px;
	z-index: 1;
	color: white;
	font-size: 30px;
	line-height: 45px;
	text-align: center;
	width: 50px;
	height: 50px;
	padding: 0;
	border-radius: 50%;
	background: #4F4F4F;
	opacity: 1;
	font-weight: normal;
	padding-bottom: 5px;
}

#fileupload .modal-footer {
	text-align: normal;
	display: flex;
}

#fileupload .modal-header {
	padding-bottom: 5px;
}

#fileupload .modal-header h5 {
	margin-bottom: 0;
}

/* progress */
#fileupload .m-progress {
	flex-grow: 1;
	margin: 0 15px;
}
/*
#fileupload .m-progress-bar {
    min-height: 2px;
    background: #0275d8;
    width: 5%;
    margin-top: 15px;
    position: relative;
}

#fileupload .m-progress-bar::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background: #0275d8;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: -10px;
}

#fileupload .m-progress-bar::after {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background: #0275d8;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top: -10px;
}

#fileupload .m-progress-stats {
	display: none;
}*/

#fileupload .m-progress-steps-wrapper {
	text-align: left;
}


#fileupload .m-progress-step {
	background-color: #0275d8;
	width: 20%;
	height: 5px;
	display: inline-block;
	position: relative;
}

#fileupload .m-progress-step::after {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #0275d8;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

#fileupload .m-progress-step:first-child {
	width: 0;
}

#fileupload .m-progress-step.current {
	background-color: #0275d8;
}


#fileupload .m-progress-step.current::after  {
	background-color: #0275d8;
}

#fileupload .m-progress-step.current ~ .m-progress-step {
	background-color: #dadada;
}

#fileupload .m-progress-step.current ~ .m-progress-step::after {
	background-color: #dadada;
}

/******* steps *******/
#accordion-closest [data-toggle] {
	display: block;

}

#accordion-closest [data-toggle]::after {
	content: "";
	width: 10px;
	height: 10px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	transform: rotate(45deg);
	float: right;
	margin: 5px;
	transform: rotate(45deg);
}

[data-reset] {
	text-decoration: underline;
}

/* step 1 upload */
.step-upload .custom-file {
	text-align: center;
	border: 1px dashed #dadada;
	background-color: #F2F2F2;
	padding: 30px 15px 15px;
	height: auto;
	width: 100%;
	display: block;
}

.step-upload .custom-file .custom-file-input {
	display: none;
}

/* step 2 structure */
.step-structure .card {
	border: 0;
}

.step-structure .card-header {
	border-color: transparent;
	background-color: transparent;
	position: relative;
	z-index: 1;
}

.step-structure .card-header select {
	border-width: 2px;
}

.step-structure .card-block {
	padding: 0.5em;
	padding-top: 25px;
	margin-top: -30px;
	border: 1px solid #dadada;
	background-color: #F2F2F2;
}
.step-structure .card-block h6 {
	margin-bottom: 0;
}

.step-structure .card-block .card-text {
	line-height: 1;
}

/* step 3 notfound */
.step-notfound .list-group .list-group-item {
	background-color: #dadada;
	border: 1px solid white;
	border-radius: 0;
	padding: .25rem 1.25rem;
}

.step-notfound .list-group .list-group-item:nth-child(even) {
	background-color: #F2F2F2;
}

/* step 4 closest */
.step-closest .card .card-footer {
	background-color: #F2F2F2;
}

/* general */
.step .patient-list .card {
	border: 0;
	margin-bottom: 0;
}

.step .patient-list .card .card-header {
	background-color: #dadada;
	border: 1px solid white;
	border-radius: 0;
	padding: .25rem 1.25rem;
	border-bottom: 0;
}

.step .patient-list .card:nth-child(even) .card-header {
	background-color: #F2F2F2;
}

.step .patient-list .card .card-header a {
	color: black;
}