{% extends "index.html" %} 

{% block content %}
<p class="important">
  Results found: {{ results }}
</p>
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th><input type="checkbox"></th>
      <th>Modality</th>
      <th>Date</th>
      <th>Study Description</th>
      <th>Series Description</th>
      <th>Physician</th>
      <th>Institution</th>
    </tr>
  </thead>
  <tbody>
    {% for doc in docs %}
     <tr>
      <td><input type="checkbox" name="{{ (doc['StudyInstanceUID'],doc['SeriesInstanceUID']) }}"></td>
      <td>{% if doc['Modality'] is defined %} {{ doc['Modality'][0] }} {% endif %}</td>
      <td>{% if doc['StudyDate'] is defined %} {{ doc['StudyDate'][0] }} {% endif %}</td>
      <td>{% if doc['StudyDescription'] is defined %} {{ doc['StudyDescription'][0] }} {% endif %}</td>
      <td>{% if doc['SeriesDescription'] is defined %} {{ doc['SeriesDescription'][0] }} {% endif %}</td>
      <td>{% if doc['ReferringPhysicianName'] is defined %} {{ doc['ReferringPhysicianName'][0] }} {% endif %}</td>
      <td>{% if doc['InstitutionName'] is defined %} {{ doc['InstitutionName'][0] }} {% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}